$color-pearl-bush-50: #ffffff;
$color-pearl-bush-100: #ffffff;
$color-pearl-bush-200: #ffffff;
$color-pearl-bush-300: #faf9f6;
$color-pearl-bush-400: #efeae3;
$color-pearl-bush-500: #e4dccf;
$color-pearl-bush-600: #d9cebb;
$color-pearl-bush-700: #cebfa8;
$color-pearl-bush-800: #c3b194;
$color-pearl-bush-900: #b8a381;
$color-pearl-bush-base: #E4DCCF;
$color-old-lace-50: #ffffff;
$color-old-lace-100: #ffffff;
$color-old-lace-200: #ffffff;
$color-old-lace-300: #ffffff;
$color-old-lace-400: #ffffff;
$color-old-lace-500: #f9f5eb;
$color-old-lace-600: #f2e9d3;
$color-old-lace-700: #ebddbc;
$color-old-lace-800: #e4d2a4;
$color-old-lace-900: #ddc68d;
$color-old-lace-base: #F9F5EB;
$color-fire-opal-50: #fbdcdc;
$color-fire-opal-100: #f7c1c1;
$color-fire-opal-200: #f4a6a6;
$color-fire-opal-300: #f18a8b;
$color-fire-opal-400: #ed6f70;
$color-fire-opal-500: #ea5455;
$color-fire-opal-600: #e7393a;
$color-fire-opal-700: #e31d1f;
$color-fire-opal-800: #c9191a;
$color-fire-opal-900: #ae1516;
$color-fire-opal-base: #EA5455;
$color-cool-black-50: #0073f4;
$color-cool-black-100: #0065d5;
$color-cool-black-200: #0056b7;
$color-cool-black-300: #004898;
$color-cool-black-400: #00397a;
$color-cool-black-500: #002b5b;
$color-cool-black-600: #001d3c;
$color-cool-black-700: #000e1e;
$color-cool-black-800: #000000;
$color-cool-black-900: #000000;
$color-cool-black-base: #002B5B;

:root {
  --color-pearl-bush-50: #ffffff;
  --color-pearl-bush-100: #ffffff;
  --color-pearl-bush-200: #ffffff;
  --color-pearl-bush-300: #faf9f6;
  --color-pearl-bush-400: #efeae3;
  --color-pearl-bush-500: #e4dccf;
  --color-pearl-bush-600: #d9cebb;
  --color-pearl-bush-700: #cebfa8;
  --color-pearl-bush-800: #c3b194;
  --color-pearl-bush-900: #b8a381;
  --color-pearl-bush-base: #E4DCCF;
  --color-old-lace-50: #ffffff;
  --color-old-lace-100: #ffffff;
  --color-old-lace-200: #ffffff;
  --color-old-lace-300: #ffffff;
  --color-old-lace-400: #ffffff;
  --color-old-lace-500: #f9f5eb;
  --color-old-lace-600: #f2e9d3;
  --color-old-lace-700: #ebddbc;
  --color-old-lace-800: #e4d2a4;
  --color-old-lace-900: #ddc68d;
  --color-old-lace-base: #F9F5EB;
  --color-fire-opal-50: #fbdcdc;
  --color-fire-opal-100: #f7c1c1;
  --color-fire-opal-200: #f4a6a6;
  --color-fire-opal-300: #f18a8b;
  --color-fire-opal-400: #ed6f70;
  --color-fire-opal-500: #ea5455;
  --color-fire-opal-600: #e7393a;
  --color-fire-opal-700: #e31d1f;
  --color-fire-opal-800: #c9191a;
  --color-fire-opal-900: #ae1516;
  --color-fire-opal-base: #EA5455;
  --color-cool-black-50: #0073f4;
  --color-cool-black-100: #0065d5;
  --color-cool-black-200: #0056b7;
  --color-cool-black-300: #004898;
  --color-cool-black-400: #00397a;
  --color-cool-black-500: #002b5b;
  --color-cool-black-600: #001d3c;
  --color-cool-black-700: #000e1e;
  --color-cool-black-800: #000000;
  --color-cool-black-900: #000000;
  --color-cool-black-base: #002B5B;
}